@use "./variables.module" as vars;
@use "./mixin" as mix;

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

ul {
	margin-top: 0;

	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

// Text Styles

// Layout styles

.link {
	color: vars.$terciary-color;
	font-weight: bold;
	transition: color 0.5s ease-out;

	&:hover {
		color: vars.$secondary-color;
	}
}

.formik-error {
	color: rgb(199, 13, 13);
}

.max-width {
	width: 100%;
	max-width: vars.$max-width;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	@include mix.from(480px) {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

